.CardContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 30%;
    box-shadow: 0px 2px 14px 0px #2A2A2A3D;
    background: #FFFFFF;
    padding: 1rem;


}

.CardContainer > h2 {
    color: #2A2A2A;
    height: 100%;

}

.CardContainer > img {
    width: 20px;
    align-self: flex-end;
}