.MainNavigate {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: #ffffffd9;
  padding: 1.5vw;
  border-radius: 10px;
}

.MainNavigate > ul {
  display: flex;
  width: 50%;
  list-style: none;
  justify-content: space-between;
}

.MainNavigate > ul > li > button {
    cursor: pointer;
    text-decoration: none;
    color: #2a2a2a;
    font-family: Poppins;
    font-size: max(0.6rem, 1.2vw);
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    background: transparent;
    border: none;
    position: relative;
  }
  
  .MainNavigate > ul > li > button::after {
    content: ' ';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #c31815;
    transition: 0.3s ease-in-out;
  }

  .MainNavigate > ul > li > button:hover::after {
    width: 100%;
  }

.MainNavigate > img {
  width: 5%;
}


@media (max-width: 600px) {
  .MainNavigate > ul {
    width: 75%;
  }
}

@media (max-width: 900px) {
  .MainNavigate > img {
    display: none;
  }
}
